@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

#app {
  height: 100%;
}

div::-webkit-scrollbar {
  width: 5px;
}

div::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 5px;
}

.loading {
  animation: loading 1s linear infinite;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}